/* Make the app fill the viewport and never overflow horizontally */
html, body, #root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}



/* e.g., src/index.css */
body { font-family: 'Inter', sans-serif; }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
