/* src/TrackDetailsPage.css */
.track-header {
  text-align: center;
}

.card-inner {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 12px 0;
}

.progress-bar {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  height: 10px;
  width: 100%;
  margin-top: 4px;
  overflow: hidden;
}

.progress-fill {
  background: #48ff99;
  height: 100%;
  transition: width 0.3s;
}
